<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%= @page_title %></title>
    <script src="/javascripts/RGraph.common.core.js"></script>
    <script src="/javascripts/RGraph.scatter.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
